body {
    margin: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    justify-content: space-between;  /* push logo left and nav right */
    align-items: center;  
    padding: 16px;
}
.nav a {
    margin-left: 1rem;       /* space between links */
    text-decoration: none;    /* remove underline */
    color: #e5e7eb;
    font-size: 18px;
}


