body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    justify-content: space-between;  /* push logo left and nav right */
    align-items: center;  
    padding: 10px 150px;
}
.nav a {
    margin-left: 1rem;       /* space between links */
    text-decoration: none;    /* remove underline */
    color: #e5e7eb;
    font-size: 18px;
}

.section-one {
    display: flex;
    background-color: #1f2937;
    padding: 50px 150px;
    align-items: flex-start; 
    gap: 50px;
}
.section-one h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-top: 0; 
}
.section-one p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 50px; 
}
.signup {
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    padding: 10px 20px;    
    font-size: 18px;    
    border-radius: 5px;  
    cursor: pointer;    
}
.signup:hover {
    background-color: #2563eb;  
}

.section-one img {
    width: 400px;   
    height: auto;   
}

.section-two {
    display: flex;
    padding: 0px 150px 50px;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.section-two h1 {
    margin: 50px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.image-row {
    display: flex;
    padding: 0px 150px;
    gap: 25px;             
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;      
    text-align: center; 
}

.section-two img {
    width: 200px;   
    height: 200px;
    border-radius: 5px;  
}

.section-three {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 50px 200px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    margin: 0px;
    text-align: left;
}

.author {
    font-size: 30px;
    color: #1f2937;
    text-align: right; 
}